@import "../../../styles/variables.scss";

.input-wrapper {
  font-size: 1em;
  text-align: start;
  align-items: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  label {
    margin-bottom: 0.625em;
  }

  input {
    border: none;
    border-radius: 0.5em;
    background-color: $gray-inputbg;
    padding: 0.2em 0 0.75em ;
    width: 100%;
  }
}
