
<app-login-layout
  title="Quanto Gasta"
  primaryBtnText="Login"
  secondaryBtnText="Crie uma conta"
  image="/assets/quantogastaLogo.png"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!loginForm.valid"
  >


  <form [formGroup]="loginForm" (keydown.enter)="submit()">
    <app-input-primary
        formControlName="email"
        inputName="email"
        type="email"
        label="E-mail:"
        placeholder="Exemplo@gmail.com">

     </app-input-primary>

      <app-input-primary
      formControlName="password"
      inputName="password"
      type="password"
      label="Senha:"
      placeholder=""
      ></app-input-primary>

  </form>
</app-login-layout>
<app-socials></app-socials>
