<mat-card class="full-widht">
 <mat-card-content class="full-widht">
  <h1>Adicionar Gasto</h1>
    <form  [formGroup]="form" >
        <mat-form-field appearance="fill"  class="full-widht">
          <mat-label>Gasto</mat-label>
          <input matInput maxlength="15" formControlName="category">
        </mat-form-field>

        <mat-form-field appearance="fill"  class="full-widht">
          <mat-label>Valor</mat-label>
          <input matInput  maxlength="10"  type="number" formControlName="money">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Mês/Ano</mat-label>
          <input matInput [matDatepicker]="dp"  formControlName="yearMonth">
          <mat-hint>MM/AAAA</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp
                          startView="multi-year"
                          (monthSelected)="setMonthAndYear($event, dp)"
                          panelClass="example-month-picker">
          </mat-datepicker>
        </mat-form-field>
      </form>
</mat-card-content>
<mat-card-actions align="end">
  <button mat-button mat-stroked-button (click)="onCancel()">Cancelar</button>
  <button mat-flat-button color="accent" (click)="onSubmit()">Adicionar</button>
</mat-card-actions>
</mat-card>
