<app-login-layout
  title="Crie sua conta"
  primaryBtnText="Criar"
  secondaryBtnText="Já possui uma conta? Clique para logar"
  image="/assets/register.svg"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!signupForm.valid"
>
  <form [formGroup]="signupForm">
    <app-input-primary
      formControlName="username"
      inputName="username"
      type="text"
      label="Nome:"
      placeholder=""
    ></app-input-primary>

    <app-input-primary
      formControlName="email"
      inputName="email"
      type="email"
      label="E-mail:"
      placeholder="Exemplo@gmail.com"
    ></app-input-primary>

    <app-input-primary
      formControlName="password"
      inputName="password"
      type="password"
      label="Senha:"
      placeholder=""
    ></app-input-primary>

    <app-input-primary
      formControlName="confirmPassword"
      inputName="confirmPassword"
      type="password"
      label="Confirme a Senha:"
      placeholder=""
    ></app-input-primary>

    @if (signupForm.get('confirmPassword')?.dirty && signupForm.hasError('passwordmatcherror')) {
      <div class="confirmError" >
        *As senhas não coincidem*
      </div>
    }

  </form>
</app-login-layout>
<app-socials></app-socials>
